<!--<html>-->
{% extends 'main.html' %}

{% block content %}

  <table>
    <tr>
      <td><button onclick="location.href='/login'">Log In</button></td>
      <td><button onclick="location.href='/create_account'">Create Account</button></td>
    </tr>
  </table>

    <h1> Welcome to workHuntr </h1>
    <h1>workHuntr is a website that aids users in their job search or their search for help on projects. Each user
      is divided into one of two categories: a hunter, someone who is looking for assistance on a job/project, or a
      huntee, someone who is looking to be hired for a job/project. Your category is determined by your choice on the
      create profile screen, which is where you also provide your general personal information (name, age, sex) and the
      company you currently work for (You'll also have the ability to declare unemployed.)
      Log in or create an account today!</h1>

  {% endblock %}
<!--</html>-->
