{% extends "workhuntr/listingNav.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Source: http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/howto/howto_js_accordion.asp.html-->
<head>
    <style>
        button.accordion {
            background-color: #8fbdc7;
            color: #444;
            cursor: pointer;
            padding: 15px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }
        button.accordion.active, button.accordion:hover {
            background-color: #e3d6ab;
        }
        div.panel {
            padding: 0 18px;
            display: none;
            background-color: #8fbdc7;
        }
        div.panel.show {
            display: block !important;
        }
    </style>
</head>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
{% if request.user.profile.account_type == 'Huntee' %}<a class="btn btn-outline-info" type="button" href="{% url 'create_listings' %}" style="padding-right: 15px; padding-top: 15px; background-color: #e3d6ab; float:right;">Create Listing</a>{% endif %}
<div id="ListingsMain">
    <div class="content-section" style="background-color: #8fbdc7; width: 100%">
    <h2>All Open Listings</h2>
        <hr class="rounded">
        <table>
            <tr style="border-bottom: 1px solid black">
                <th style="padding-right: 15px">Title</th>
                <th style="padding-right: 15px">Price</th>
                <th style="padding-right: 15px">Owner</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
            {% for i in listings %}
            <tr>
            {% if i.status == 'Strutting' %}
                <td><div><p style="padding-right: 15px; padding-top: 55px">{{i.title}}</p></div><div><p style = "color:gray; font-style: italic; font-size: 10px; vertical-align: bottom; height = 50px">Tags: {{i.tag_one}}, {{i.tag_two}}, {{i.tag_three}} </p></div></td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">${{i.price}}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if request.user.profile.account_type == 'Hunter' %}<a href="../contacts/conversation/{{i.huntee}}">{{i.huntee}}</a>{% else %} {{i.huntee}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{{i.status}}</td>
                {% if i.huntee == request.user %}<td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px;"><a class="btn btn-outline-info" style="background-color: #e3d6ab;" href="../modify_listings/{{i.id}}">Modify</a></td>{% endif %}
                {% if i.huntee == request.user %}<td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px;"><a class="btn btn-outline-info" style=" background-color: #e3d6ab;" href ="{% url 'delete_listing' i.id %}">Delete</a></td>{% endif %}
                {% if i.huntee != request.user and request.user.profile.account_type == 'Hunter' %}<td><form method="POST" action="{% url 'claim_listing' i.id %}">{% csrf_token %}<input class="btn btn-outline-info" style="background-color: #e3d6ab;" type="submit" value="Claim"></form></td>{% endif %}
            </tr>
            <tr>
                <td style= "border-bottom: 1px solid black" colspan="6"><button class="accordion" style ="text-align: center"> <b>Description</b></button><div class="panel"><p>{{i.description}}</p></div></td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        </div>

        <hr>
        <div class="content-section" style="background-color: #8fbdc7; width: 100%">
        <table>
            <h2>In Progress</h2>
            <hr class="rounded">
            <tr>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Title</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Owner</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Huntr</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Status</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
            </tr>

            {% for i in listings %}
            <tr>
            {% if i.status == 'Claimed' and i.hunter == request.user or i.status == 'Claimed' and i.huntee == request.user or i.status == 'Started' and i.hunter == request.user or i.status == 'Started' and i.huntee == request.user or i.status == 'Milestone 1' and i.hunter == request.user or i.status == 'Milestone 1' and i.huntee == request.user or i.status == 'Milestone 2' and i.hunter == request.user or i.status == 'Milestone 2' and i.huntee == request.user or i.status == 'Milestone 3' and i.hunter == request.user or i.status == 'Milestone 3' and i.huntee == request.user%}
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{{i.title}}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.hunter == request.user %}<a href="../contacts/conversation/{{i.huntee}}">{{i.huntee}}</a>{% else %} {{i.huntee}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.huntee == request.user %}<a href="../contacts/conversation/{{i.hunter}}">{{i.hunter}}</a>{% else %} {{i.hunter}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a href="../progress/{{i.id}}">{{i.status}}</a></td>
                {% if i.hunter == request.user and i.status == 'Claimed' %}<td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><form method="POST" action="{% url 'return_listing' i.id %}">{% csrf_token %}<input class="btn btn-outline-info" style="background-color: #e3d6ab;" type="submit" value="Release"></form></td>{% endif %}
            </tr>
            <tr>
                <td style= "border-bottom: 1px solid black" colspan="6"><button class="accordion" style ="text-align: center"><b>Description</b></button><div class="panel"><p>{{i.description}}</p></div></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>
        <hr>
        <div class="content-section" style="background-color: #8fbdc7; width: 100%">
        <table>
            <h2>My Completed Listings</h2>
            <hr class="rounded">
            <tr>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Title</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Owner</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Huntr</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Status</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
            </tr>
            {% for i in listings %}
            <tr>
            {% if i.status == 'Complete' and i.huntee == request.user or i.status == 'Complete' and i.hunter == request.user %}
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{{i.title}}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.hunter == request.user %}<a href="../contacts/conversation/{{i.huntee}}">{{i.huntee}}</a>{% else %} {{i.huntee}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.huntee == request.user %}<a href="../contacts/conversation/{{i.hunter}}">{{i.hunter}}</a>{% else %} {{i.hunter}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a href="../progress/{{i.id}}">{{i.status}}</a></td>
                {% if i.huntee == request.user %}<td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a class="btn btn-outline-info" style="background-color: #e3d6ab;" href="../issue_payment/{{i.id}}">Issue Payment</a></td>{% endif %}
            </tr>
            <tr>
                <td style= "border-bottom: 1px solid black" colspan="6"><button class="accordion" style ="text-align: center"> <b>Description</b></button><div class="panel"><p>{{i.description}}</p></div></td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
        </div>
        <hr>
        <div class="content-section" style="background-color: #8fbdc7; width: 100%">
        <table>
            <h2>Payment Issued for Listings</h2>
            <tr>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Title</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Owner</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Huntr</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black">Status</th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
                <th style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid black"></th>
            </tr>
            {% for i in listings %}
            <tr>
            {% if i.status == 'Payment Issued' and i.huntee == request.user or i.status == 'Payment Issued' and i.hunter == request.user %}
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{{i.title}}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.hunter == request.user %}<a href="../contacts/conversation/{{i.huntee}}">{{i.huntee}}</a>{% else %} {{i.huntee}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px">{% if i.huntee == request.user %}<a href="../contacts/conversation/{{i.hunter}}">{{i.hunter}}</a>{% else %} {{i.hunter}} {% endif %}</td>
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a href="../progress/{{i.id}}">{{i.status}}</a></td>
                {% if i.huntee == request.user %}<td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a class="btn btn-outline-info" style="background-color: #e3d6ab;" href="../delete_listing/{{i.id}}">Delete Listing</a></td>{% endif %}
                <td style="padding-right: 15px; padding-top: 10px; padding-bottom: 5px"><a class="btn btn-outline-info" style="background-color: #e3d6ab;" href="../receipt/{{i.id}}">Receipt</a></td>
            </tr>
            <tr>
                <td style= "border-bottom: 1px solid black" colspan="6"><button class="accordion" style ="text-align: center"> <b>Description</b></button><div class="panel"><p>{{i.description}}</p></div></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>

{% endblock %}
