{% extends "workhuntr/listingNav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="background-color:#8fbdc7; width: 100%;">
<h2>Modify Listings</h2>
<form method="POST">
{% csrf_token %}
    <fieldset class="form-group">
        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
                <b>{{ form.title|as_crispy_field }}</b>
            </div>
            <div class="form-group col-md-4 mb-0">
                <b>{{ form.price|as_crispy_field }}</b>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                <b>{{ form.description|as_crispy_field }}</b>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                <b>{{ form.tag_one|as_crispy_field }}</b>
            </div>
            <div class="form-group col-md-4 mb-0">
                <b>{{ form.tag_two|as_crispy_field }}</b>
            </div>
            <div class="form-group col-md-4 mb-0">
                <b>{{ form.tag_three|as_crispy_field }}</b>
            </div>
        </div>
        <input class="btn btn-outline-info" style="background-color: #e3d6ab;" type="submit" value="Modify Listing" />
        <a href="{% url 'current_listings' %}" style="background-color: #e3d6ab;" class="btn btn-outline-info">Cancel</a>
    </fieldset>
</form>
</div>
{% endblock %}
