{% extends "workhuntr/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="mainContent" style="height: 100%; width: 100%; float: left; margin: 10px; background-color: #8fbdc7;">
    <form method="POST" style="display: inline;"> 
    {% csrf_token %}
        <select id="myListings" name="selected">
        {% for listing in listings %}
        {% if listing.huntee == request.user or listing.hunter == request.user %}
            {% if listing.id == item.id %}
            <option value="{{ listing.id }}" selected="selected">{{listing.title}}</option>
            {% else %}
            <option value="{{ listing.id }}" >{{listing.title}}</option>
            {% endif %}
        {% endif %}
        {% endfor %}
        </select>
    </form>
    <button type="submit" onclick=onClick()>Go</button>
    <h3>{{item.title}}</h3>
    <p>Current Status: {{item.status}}</p>
    <br>
    <div class="content-section" style="background-color: #8fbdc7; position: relative; width: 100%;">
        {% if item.status == 'Started' %}
            <div id="ProgressBar" style="background-color: green; width: 16.2%; z-index: 10; position: absolute;">&nbsp;</div>
        {% elif item.status == 'Milestone 1' %}
            <div id="ProgressBar" style="background-color: green; width: 35.4%; z-index: 10; position: absolute;">&nbsp;</div>
        {% elif item.status == 'Milestone 2' %}
            <div id="ProgressBar" style="background-color: green; width: 56.6%; z-index: 10; position: absolute;">&nbsp;</div>
        {% elif item.status == 'Milestone 3' %}
            <div id="ProgressBar" style="background-color: green; width: 76.8%; z-index: 10; position: absolute;">&nbsp;</div>
        {% elif item.status == 'Complete' or item.status == 'Payment Issued' %}
            <div id="ProgressBar" style="background-color: green; width: 91%; z-index: 10; position: absolute;">&nbsp;</div>
        {% else %}
            <div id="ProgressBar" style="background-color: green; width: 3%; z-index: 10; position: absolute;">&nbsp;</div>
        {% endif %}
        <div id= "progressBackground" style="background-color: red; width: 91%; position: absolute;">&nbsp;</div>
        <hr>
        <table>
            <tr>
                <td style="width: 0%; text-align: center;"><font size = "2">Not started</font></td>
                <td style="width: 23.2%; text-align: center;"><font size = "2">Started</font></td>
                <td style="width: 23.2%; text-align: center;"><font size = "2">Milestone 1</font></td>
                <td style="width: 23.2%; text-align: center;"><font size = "2">Milestone 2</font></td>
                <td style="width: 23.2%; text-align: center;"><font size = "2">Milestone 3</font></td>
                <td style="width: 30.2%; text-align: center;"><font size = "2">Complete</font></td>
            </tr>
        </table>
    </div>

    <br>
    <div class="content-section" style="background-color: #8fbdc7;">
        <table>
            <tr style="border-bottom: 1px solid black">
                <th style="width: 21%;">Date</th>
                <th style="width: 79%;">Update</th>
            </tr>
            {% for update in updates %}
            {% if update.listing.id == item.id %}
            <tr style="border-bottom: 1px solid black">
                <td style="padding-right: 15px">{{update.date}}</td>
                <td style="padding-right: 15px">{{update.status}}: {{update.description}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% if item.hunter == request.user and item.status != 'Payment Issued' %}
    {% if item.hunter == request.user and item.status != 'Complete' %}
    <div class="content-section" id="updateForm" style="background-color: #8fbdc7; width: 30%; float: left; position: fixed; left: 65%; top: 25%;">
        <h2 style="text-align: center;">New Update</h2>
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
            <input class="btn btn-outline-info" style="background-color: #e3d6ab;" type="submit" value="Update" name='update' style="position: relative; left: 36.5%;"/>
        </fieldset>
        </form>
    </div>
    {% endif %}
{% endif %}
<script>
function onClick() {
    listing = document.getElementById('myListings').value
    window.location = "../progress/" + listing
}
</script>
{% endblock %}
