<!--
    Displays the receipt for a completed Listing
-->

{% extends "workhuntr/listingNav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="background-color:#8fbdc7; width: 100%;">
	<form>
        <h2>Receipt for {{listing}}</h2>
        <p>Listing Title: {{listing.title}}</p>
        <p>Listing ID: {{listing.id}}</p>
        <p>Payment Amount: ${{listing.price}}</p>
		<p>Paid by: {{listing.huntee}}</p>
        <p>Paid to: {{listing.hunter}}</p>
        <p>Paid on: {{listing.paid_date}}</p>
        <a onclick="window.print()" class="btn btn-outline-info" style="background-color: #e3d6ab; color: #2b95d4">Print Receipt</a>
		<a href="{% url 'current_listings' %}" class="btn btn-outline-info" style="background-color: #e3d6ab;">Back</a>
	</form>
</div>
{% endblock %}
