<!-- 
  Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
  Code Author: Corey Schafer
-->

{% extends "workhuntr/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Comment</legend>
            {{ comment_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary  btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
