<!-- 
    Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
    Code Author: Corey Schafer

    Displays a confirmation page that a User has logged out
-->

{% extends "workhuntr/base.html" %}
{% block content %}
<h2>You have been logged out.</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <a class="btn btn-outline-info" type="button" style="background-color: #e3d6ab;"  href="{% url 'login' %}">Login Again</a>
    </small>
</div>
{% endblock content %}
