<!-- 
    Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
    Code Author: Corey Schafer

    Display a confirmation page that an email to reset the password has been sent to the User
-->

{% extends "workhuntr/base.html" %}
{% block content %}
<h2>Password Reset Sent</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </small>
</div>
{% endblock content %}
