{% extends "workhuntr/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.title }} {{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.gender }}</p>
          <a class="btn btn-outline-info" type="button" href="{% url 'edit_profile' %}">Edit Profile</a>
        </div>
      </div>
    </div>
{% endblock content %}