<!-- 
    Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
    Code Author: Corey Schafer

    Displays a User Profile
-->

{% extends "workhuntr/profileNav.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user == user or user.profile.privacy == 'Public' %}
<div class="search"> 
    <form method="POST">
    {% csrf_token %}
        <input type="text" placeholder="Search Users" name="search"> 
        <button class="btn btn-outline-info" type="submit" style="background-color: #e3d6ab;">Submit</button>
    </form> 
</div>
<br>
<div class="content-section" style="background-color: #8fbdc7; width: 80%;">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
            {% if request.user != user %}<a class="btn btn-outline-info" type="button" href="{% url 'conversation' username=user.username %}" style="background-color: #e3d6ab; float:right;">Message</a>{% endif %}
            {% if not comments and request.user != user and request.user.profile.account_type == 'Huntee' and user.profile.account_type != 'Huntee' %}<a class="btn btn-outline-info" type="button" href="{% url 'add_comment' username=user.username %}" style="background-color: #e3d6ab; float:right;">Add Comment</a> </h2>{% endif %}
            <p>{{ user.profile.account_type }}</p>
            {% if request.user == user %}<a class="btn btn-outline-info" type="button" href="{% url 'edit_profile' username=user.username %}" style="background-color: #e3d6ab;">Edit Profile</a>{% endif %}
        </div>
    </div>
</div>
<div class="content-section" style="background-color: #8fbdc7;  width: 80%;">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">About</h2>
            <hr class="rounded">
            <p>Username:   {{ user.username }}</p>
            <p >Email:    {{ user.email }}</p>
            <p>Gender:   {{ user.profile.gender }}</p>
        </div>
    </div>
</div>
{% if user.profile.resume or user.profile.website != '' or request.user == user %}
<div class="content-section" style="background-color: #8fbdc7;  width: 80%;">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Resume & Work Samples</h2>
            <div>
                <hr class="rounded">
                {% if user.profile.resume %}<a class="ml" href="{{ user.profile.resume.url }}">Resume</a>{% endif %}
                {% if user.profile.website != '' %}<a class="ml-4" href="{{ user.profile.website }}">Work Samples</a>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if request.user == user or skills or histories %}
<div class="content-section" style="background-color: #8fbdc7; width: 80%;">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Skills & Work History
            {% if request.user == user %}<a class="btn btn-outline-info" type="button" id="SkillHistoryBTN" href="{% url 'modify_skill_history' username=user.username %}" style="background-color: #e3d6ab; float:right;">Edit</a>{% endif %}</h2>
                <hr class="rounded">
                {% if skills %}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" style="color: #e3d6ab; font-size: 1.5rem;" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">Skills</a></h3>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body px-3 mb-4">
                                {% for skill in skills %}
                                <h6>{{ skill.skill }}</h6>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if histories %}
                    <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" style="color: #e3d6ab; font-size: 1.5rem;" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Work Histories</a>
                            </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body px-3 mb-4">
                                {% for history in histories %}
                                <h5><b>{{ history.company }} </b> <p style="float:right; font-size:15px;"> {{history.start_date}} &ensp; - &ensp; {{history.end_date}}</p></h5>
                                <h6>{{ history.description }}</h6>
                                <hr class="rounded">
                                {% endfor %}
                            </div>
                    {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endif %}
{% if comments or request.user == user and user.profile.account_type == 'Hunter' %}
<div class="content-section" style="background-color: #8fbdc7; width: 80%;">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Comments & Rating
            {% if request.user != user and request.user.profile.account_type == 'Huntee' and user.profile.account_type != 'Huntee' %}<a class="btn btn-outline-info" type="button" href="{% url 'add_comment' username=user.username %}" style="background-color: #e3d6ab; float:right;">Add Comment</a>{% endif %}</h2>
            <hr class="rounded">
            {% for comment in comments %}
                <h5>
                    <img class="rounded-circle" width="50" height="50" src="{{ comment.author.profile.profile_picture.url }}">
                    {{ comment.author.username }}  |  Company:  {{ comment.company }} {% if request.user == comment.author %}<a class="btn btn-outline-info" style=" background-color: #e3d6ab; float: right;" href ="{% url 'delete_comment' comment.id %}">Delete</a><a class="btn btn-outline-info" style=" background-color: #e3d6ab; float:right;" href ="{% url 'modify_comment' comment.id %}">Modify</a>{% endif %}
                </h5>
                <h5>
                    {% if comment.rating == '1' %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked" style="color:orange"> </span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {%endif%}
                    {% if comment.rating == '2' %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked" style="color:orange"> </span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {%endif%}
                    {% if comment.rating == '3' %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked" style="color:orange"> </span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {%endif%}
                    {% if comment.rating == '4' %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked" style="color:orange"> </span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star"></span>
                    {%endif%}
                    {% if comment.rating == '5' %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked" style="color:orange"> </span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    {%endif%}
                </h5>
                <h6>{{ comment.comment }}</h6>
                <hr class="rounded">
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<h2>This user's profile is private.</h2>
{% endif %}
{% endblock content %}
