<!--
    Displays a detailed overview of the app
-->

{% extends "workhuntr/base.html" %}
{% block content %}
<h2 class="account-heading">About <a href="https://github.com/SCCapstone/WorkHuntr">WorkHuntr</a></h2>
<p>WorkHuntr is a job board where employers, known as huntees, can post listings to be claimed by candidates. Qualified candidates, known as hunters, can create a profile listing their qualifications and skills, search current listings, and claim the desired listing. The hunter with the claimed listing can then provide progress reports to the huntee using the progress tracker and communicate using the inbox.</p>
<h2>Video Placeholder</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oz4KagsY4Kk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<h2>Listing Example</h2>
<p>The listings page is the place to view all of your owned tasks whether they are being worked on or still waiting on a perspective hunter. Listings can be created, modified, and deleted from this page. Hunters can also claim listings from here as well as update the status of a project currently being worked on.</p>
<img style="border: 2px solid black" src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390284/media/about/listings.jpg">
<br>
<br>
<h2>Profile Example</h2>
<p>Each user has a profile landing page where they can display their contact information, completed WorkHuntr projects, previous experience, skills, and a link to their personal resume/website. Users can also search for other user's profiles from this page.</p>
<img style="border: 2px solid black" src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390284/media/about/profile.jpg">
<br>
<br>
<h2>Message Example</h2>
<p>The messages page shows you notifications for any changes to listings you are associated with, as well as one-on-one conversations with other WorkHuntr users. This allows you to contact potential cohorts by username prior to agreeing to work with them on a project. Users can also delete previous conversations.</p>
<img style="border: 2px solid black" src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390284/media/about/messages.jpg">
<br>
<br>
<h2>About the Developers</h2>
<div style="display: table-cell; border: 2px solid black; text-align: center;">
    <img src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390284/media/about/timothy.jpg">
    <p><b>Timothy Bollman</b></p>
    <a href="https://www.linkedin.com/in/timothybollman/">LinkedIn</a>
    <a href="https://www.github.com/tbollman">GitHub</a>
</div>
<div style="display: table-cell; border: 2px solid black; text-align: center;">
    <img src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390462/media/about/noah.jpg">
    <p><b>Noah Shaw</b></p>
    <a href="https://www.linkedin.com/in/noahshaw11/">LinkedIn</a>
    <a href="https://www.github.com/noahshaw11">GitHub</a>
</div>
<div style="display: table-cell; border: 2px solid black; text-align: center;">
    <img src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390283/media/about/angel.jpg">
    <p><b>Angel Nguyen</b></p>
    <a href="https://www.linkedin.com/in/tien-n-711a6a155/">LinkedIn</a>
</div>
<div style="display: table-cell; border: 2px solid black; text-align: center;">
    <img src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390283/media/about/re.jpg">
    <p><b>Matthew Re</b></p>
</div>
<div style="display: table-cell; border: 2px solid black; text-align: center;">
    <img src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390283/media/about/justin.jpg">
    <p><b>Justin Hill</b></p>
    <a href="https://github.com/jhill08">GitHub</a>
</div>
<br>
<br>
<hr>
{% endblock %}
