<!--
  Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
  Code Author: Corey Schafer
-->

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'workhuntr/main.css' %}">
        {% if title %}
        <title>WorkHuntr - {{ title }}</title>
        {% else %}
        <title>WorkHuntr</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'dashboard' %}"><img class="logo" src="/media/workhuntr/huntr_logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto"></div>
                        <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile' username=request.user.username %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'current_listings' %}">Listings</a>
                            <a class="nav-item nav-link" href="{% url 'contacts' %}">Messages</a>
                            <a class="nav-item nav-link" href="{% url 'faq' %}">FAQ</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'create_account' %}">Create Account</a>
                            <a class="nav-item nav-link" href="{% url 'faq' %}">FAQ</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

<!--Source: http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/howto/howto_js_accordion.asp.html-->
<head>
    <style>
        button.accordion {
        background-color: #8fbdc7;
        color: #444;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    button.accordion.active, button.accordion:hover {
        background-color: #e3d6ab;
    }

    div.panel {
        padding: 0 18px;
        display: none;
        background-color: #8fbdc7;
    }

    div.panel.show {
        display: block !important;
}
    </style>
</head>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
  }
}
</script>
