<!--Default Page with Navbar and Footer-->
<html>
    <head>
        <title>workHuntr</title>
        <style>
            .navbar {
                background-color: #8fbdc7;
                width: 100%;
                height: 80px;
            }
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                background-color: #8fbdc7;
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            {% block content %}

            {% endblock %}
        </div>
            
        <div class="footer">
            <p>Created by GiantNerds</p>

        </div>
    </body>
</html>
