<!-- 
    Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
    Code Author: Corey Schafer

    Displays all previous contacts that a user has (previous conversations)
-->

{% extends "workhuntr/messageNav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="background-color: #8fbdc7; width: 120%">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Messages</h2>
            <form method="POST">
            {% csrf_token %}
                <input type="text" placeholder="Search Users" name="search" style="background-color: #e3d6ab;">
                <button class="btn btn-outline-info" id="MSGSearchBTN" type="submit" style="background-color: #e3d6ab;">Submit</button>
            </form>
            {% if contacts_messages %}
            {% for contact, message in contacts_messages.items %}
            {% if contact %}
            <hr class="rounded">
                {% if message.read_at == None and message.sender != request.user %}
                <div class="content-section" style="background-color: #66a4b2; width: 100%">
                    <div class="media">
                        <div class="media-body">
                <p class="text-secondary">
                {% if contact.profile.profile_picture %}
                <img class="rounded-circle" width="50" height="50" src="{{ contact.profile.profile_picture.url }}"><a class="ml-2" style="color: #e3d6ab;" href="{% url 'conversation' username=contact.username %}">{{ contact }}</a>
                {% else %}
                <img class="rounded-circle" width="50" height="50" src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390071/media/default/default.jpg"><a class="ml-2" style="color: #e3d6ab;" href="{% url 'conversation' username=contact.username %}">{{ contact }}</a>
                {% endif %}
                <a  style="background-color: #e3d6ab; float:right;" class="btn btn-outline-info" href="{% url 'info' username=contact.username %}">Delete</a>
                </p>
                <p class="text-secondary" style="color: #000000;">{{ message.content }}</p> </div></div></div>
                {% else%}
                    <div class="content-section" style="background-color: #8fbdc7; width: 100%">
                        <div class="media">
                            <div class="media-body">
                    <p class="text-secondary">
                {% if contact.profile.profile_picture %}
                <img class="rounded-circle" width="50" height="50" src="{{ contact.profile.profile_picture.url }}"><a class="ml-2" style="color: #e3d6ab;" href="{% url 'conversation' username=contact.username %}">{{ contact }}</a>
                {% else %}
                <img class="rounded-circle" width="50" height="50" src="https://res.cloudinary.com/hwtxtlvxz/image/upload/v1619390071/media/default/default.jpg"><a class="ml-2" style="color: #e3d6ab;" href="{% url 'conversation' username=contact.username %}">{{ contact }}</a>
                {% endif %}
                <a  style="background-color: #e3d6ab; float:right;" class="btn btn-outline-info" href="{% url 'info' username=contact.username %}">Delete</a>
                </p>
                    <p class="text-secondary" style="color: #000000;">{{ message.content }}</p> </div></div></div>
                {% endif %}
            </h5>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
