<!-- 
    Code Source: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
    Code Author: Corey Schafer

    Displays the info for a conversation and where the user can delete the conversation
-->

{% extends "workhuntr/messageNav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="background-color: #8fbdc7">
    <div class="media">
        <div class="media-body">
            <h2>Are you sure you want to delete this conversation?</h2>
        </div>
        <form method="POST">
        {% csrf_token %}
            <a href="{% url 'contacts' %}" class="btn btn-outline-info" type="button" style="background-color: #e3d6ab">Back</a>
            <button class="btn btn-outline-info" type="submit" style="background-color: #e3d6ab">Delete</button>
        </form> 
    </div>
</div>
{% endblock content %}
